* {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: "New Rocker", cursive;
}
main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    
}
img{
    height: auto;
    width: 33vw;
}

.conteiner1{
    position: relative;
    padding: 5vh 0 ;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ff0000;

}
.conteiner2{
    position: relative;
    
    float: left;
    width: 50%;
    height: 50vh;
   
}
.conteiner3{
    position: relative;
    float: left;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.conteiner4{
    position: relative;
    padding: 5vh 0;
    display: flex;
    width: 100%;
    height: auto;
}
.conteiner5{
    position: relative;
    float: left;
    width: 50%;
    height: 50vh;
}
.conteiner6{
    position: relative;
    float: left;
    width: 50%;
    height: 50vh;

}
.img1{
    position: absolute;
    padding: 0 6vw;
    top: 10vh;
    border-radius: 40%;
    z-index: 1;
}
.img2{
    position: absolute;
    padding: 0 6vw;
    bottom: 0;
}
.Telefone > h1, .email> h1, .endereço> h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.Telefone > p, .email > p, .endereço > p{
    padding: 0 5vh;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.Telefone, .email, .endereço{
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ff0000;
    padding: 2vh 0;
}
.conteiner5 > h2{
    font-size: 30px;
    color: #ffffff;
}
.type1, .type2{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 30px;
    height: 5vh;
    border-radius: 2vh;
    padding: 0 3vh;
    margin: 2vh 0;  
}
.type2{
    position: relative;
    height: 10vh;
}
.conteiner5 > button{
    width: 30%;
    padding: 2vh 0;
    font-size: 30px;
    background-color: #ED2939;
    border-radius: 4vh;
}
.conteiner6 > img{
    height: 80%;
    width: 90%;

}


/*TABLET*/
@media only screen and (min-width: 768px) {
    @media only screen and (max-width: 1024px) {
        
        #footer_content {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
        .menu .logo a img {
          width: 130px; 
        }    
        .links li {
          padding: 20px 25px; /* Reduzindo o espaçamento entre os links no menu */
        }
        .links li a{
          font-size: 25px;
        }
        .Caixa{
          height: 80px;
        }
        #centroimg img{
          display: none;
        }

        #maps {
           width: 100px;
        }
    }
  }

   /*Mobile*/

 @media only screen and (max-width: 767px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
  
    .menu .logo a img {
        width: 150px;
        margin-left: -80px;
      }
    
      .header{
        margin-right: 00px;
      }
      .links li a {
        display: none;
      }
      .Caixa{
        height: 55px;
    }

  }
  