*{
    font-family: "New Rocker", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    font-family: "New Rocker", cursive;
    width: 100%;
    height: 450vh;
    font-weight: 400;
    background-image: url(../images/TexturaBranca.png);
}

/*Menu fixo*/

.Caixa {
    width: 100%;
    margin: auto;
    position: fixed;

    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.Caixa.scrolled {
    background-color: #090909;
}

.menu {
    position: relative;
}

.menu .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*horizontalmente(X) elemento será movido em direção à esquerda em metade de sua largura */
}

.menu .logo {
    display: block;
}

.menu .logo a img {
    width: 210px;
}

.links {
    text-align: right;
}

.links li {
    display: inline-block;
    padding: 40px 70px 40px 70px;

}

.links li a {
    text-decoration: none;
    letter-spacing: 1px;

    color: #ffffff;
    font-size: 30px;
}

.links li:nth-child(1),
.links li:nth-child(2) {
    float: left;
}

.links li:hover a {
    color: #ED2939;
}


/*Header*/

.header {
    width: 100%;
    height: 500px;

    background: url(../images/imcard.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.582);
    /* Cor preta com transparência */
}

.frase h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60PX;
    color: #ffffff;
}

#fundo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo-cardapio {
    font-size: 1.75em;
    height: 4rem;
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 1rem;
    color: white;
}

.opcoes {
    height: 100vh;
    width: 80%;
}

#kids {
    height: 40vh;
}

#bebidas{
    height: 100vh;
}

#sobremesas{
    height: 70vh;
}

.lista-opcoes {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.album-container {
    width: 15rem;
    height: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capa{
    width: 10rem;
    height: 10rem;
    position: absolute;
    left:10%;
    background-color: red;
    z-index: 2;
    transition: transform 0.5s ease-out, transform 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capa img{
    width: 100%;
    height: 100%;
}

.capa .name-container{
    height: 100%;
    width: 100%;
    color: white;
    position: absolute;
    opacity: 0;
    background-color: #090909;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s linear;

}

.disco{
    width: 9rem;
    height: 9rem;
    background: url(../images/svg/vynil.svg) center center no-repeat;
    background-size: cover ;
    position: absolute;
    z-index: 1;
    right: 5%;
    transition: transform 0.3s ease-out;
}

.capa:hover{
    transform: translateX(10%) scale(1.2);
    transition: transform 0.3s ease-out ;
    cursor: pointer;
}

.capa:hover + .disco{
    transform: translateX(-25%);
}

.capa:hover div{
    visibility: visible ;
    opacity: 0.7;
}

/* Rodapé */

:root {
    --color-neutral-0:  #0e0c0c;
    --color-neutral-30: #a8a29e;

}

footer{
    width: 100%;
    color: #fff;

}
.footer_contacts img{
    width: 100px;
}
.footer-link{
    text-decoration: none;
}

#footer_content {
    background-color: #171717;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;

}

#footer_social_midia{
    display:flex;
    gap: 2rem;
    margin-top: 1.5rem;

}

#footer_social_midia .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: a11 2.4s;

}

#footer_social_midia .footer-link{
    font-size: 1.25rem;
}

#footer_social_midia .footer-link:hover{
    opacity:0.8;
}

#instagram{
    background-color: #7f37c9;

}

#envelope{
    background-color: #4267b3;

}

#phone{
    background-color: #25d366;

}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;

}

.footer-list .footer-link{
    color: #a8a29e;
    transition: all 0.4s;

}

.footer-list .footer-link:hover{
    color: #ED2939;

}

#footer_subscribe{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;

}

#footer_subscribe p{
    color: #a8a29e;

}

#input_group{
    display: flex;
    background-color: #0e0c0c;
    border-radius: 4px;

}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;

}

#input_group button{
    background-color: #ED2939;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;

}

#input_group button:hover{
    opacity: 0.8;

}

#footer_copyright{
    display:flex;
    justify-content: center;
    background-color: #0e0c0c;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;

}

/* Responsividade */

@media only screen and (max-width: 767px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }

    .links li a{
        display: none;
    }
    
    .menu .logo a img {
        width: 100px; 
    }    
    .Caixa{
        height: 55px;
    }

    body{
        height: 340vh;
    }

    .lista-opcoes {
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .titulo-cardapio{
        font-size: 1.5em;
        height: 5vh;
        width: 100%;
        padding: .5rem
    }

    #lanches{
        height: 100vh;
    }

    #kids {
        height: 40vh;
    }
    
    #bebidas{
        height: 100vh;
    }
    
    #sobremesas{
        height: 60vh;
    }

    .album-container{
        width: 10rem;
        height: 7rem;
    }

    .capa{
        width: 7rem;
        height: 7rem;
    }

    .disco{
        width: 6rem;
        height: 6rem;
    }
}

@media only screen and (min-width: 768px) {
    @media only screen and (max-width: 1024px) {
        
        .menu .logo a img {
            width: 130px; 
        }    
        .links li {
            padding: 20px 25px; /* Reduzindo o espaçamento entre os links no menu */
        }
        .links li a{
            font-size: 25px;
        }
        .Caixa{
            height: 80px;
        }

        #footer_content {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        body{
            height: 360vh;
        }
        .header{
            width: 100%;
            background-position: 20%;
          }
        .titulo-cardapio{
            font-size: 1.5em;
            height: 5vh;
            width: 100%;
            padding: .5rem
        }

        #lanches{
            height: 7   5vh;
        }

        #kids {
            height: 30vh;
        }
        
        #bebidas{
            height: 80vh;
        }
        
        #sobremesas{
            height: 50vh;
        }

        .album-container{
            width: 12rem;
            height: 7rem;
        }

        .capa{
            width: 8rem;
            height: 7rem;
        }

        .disco{
            width: 6rem;
            height: 6rem;
        }
    }
}