* {
  margin: 0;
}

body {
  font-family: "New Rocker", cursive;
  width: 100%;
  height: 100vh;
  font-weight: 400;
  background-color: #090909;
}

/*Menu fixo*/

.Caixa {
  width: 100%;
  margin: auto;
  position: fixed;

  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.Caixa.scrolled {
  background-color: #090909;
}

.menu {
  position: relative;
}

.menu .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /*horizontalmente(X) elemento será movido em direção à esquerda em metade de sua largura */
}

.menu .logo {
  display: block;
}

.menu .logo a img {
  width: 210px;
}

.links {
  text-align: right;
}

.links li {
  display: inline-block;
  padding: 40px 70px 40px 70px;

}

.links li a {
  text-decoration: none;
  letter-spacing: 1px;

  color: #ffffff;
  font-size: 30px;
}

.links li:nth-child(1),
.links li:nth-child(2) {
  float: left;
}

.links li:hover a {
  color: #ED2939;
}


/*Header*/

.header {
  width: 100%;
  height: 500px;

  background: url(../images/ImgSobre.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.582);
  /* Cor preta com transparência */
}

.frase h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60PX;
  color: #ffffff;
}


/*imagem e texto*/

#meio {
  height: 600px;

}

#imagem_hamburguer {
  width: 50%;
  height: 500px;
  position: relative;
  margin-top: 30px;
  background-image: url(../images/hamburguerartesanal.jpg);
  background-size: cover;
  background-position: center center;
  float: left;
}

#paragrafos {
  width: 38%;
  height: 300px;
  position: relative;
  float: left;
  color: #fff;
  font-weight: none;
  font-size: 20px;
  margin: auto;
  margin-bottom: 300px;
  font-weight: none;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 150px;
}

#paragrafo2 {
  clear: left;
}

hr {
  border-color: #ed3929;
}

.botao {
  height: 50px;
  position: relative;
  background-color: #ed3929;
  border: solid 2px #ed3929;
  border-radius: 20px;
  color: #000;
  font-family: 'New Rocker', cursive;
  font-size: 20px;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  margin-left: 150px;
  margin-top: 50px;
}

.botao:hover {
  background-color: #000;
  color: white;
  transform: scale(1.2)
}

#linhacoracao {
  position: relative;
  clear: left;

}

#linhacoracao img {
  width: 200px;
  position: absolute;
  margin-top: -70px;
  left: 40%;
  z-index: 3;

}




/* chefes*/

#caixona {
  width: 950px;
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;

}


/*
#fundo{
 color: #fff;
 font-size: 20px;
 font-family: 'New Rocker', cursive;
}
*/

#retangulo {
  width: 250px;
  height: 300px;
  background-color: #fff;
  border: 2px solid #ed3929;
}

#retangulo2 {
  width: 250px;
  height: 300px;
  background-color: #fff;
  border: 2px solid #ed3929;
}

#retangulo3 {
  width: 250px;
  height: 300px;
  background-color: #fff;
  border: 2px solid #ed3929;

}

#retangulo4 {
  width: 250px;
  height: 300px;
  background-color: #fff;
  border: 2px solid #ed3929;
}

#retangulo5 {
  width: 250px;
  height: 300px;
  background-color: #fff;
  border: 2px solid #ed3929;
}

#retangulo6 {
  width: 250px;
  height: 300px;
  background-color: #fff;
  border: 2px solid #ed3929;

}


#caixona img {
  width: 200px;
  height: 200px;
  border: 2px solid;
  border-radius: 50%;
  border: 2px solid #ed3929;
  background-size: cover;
  background-position: center center;
  margin-left: -175px;
  margin-top: 10px;

}

#retangulo2 img{
  margin-left: -130px;
}

#retangulo4 img, #retangulo5 img{
  margin-left: -5px;
}

#retangulo3 img,
#retangulo6 img {
  margin-left: -5px;
}

h3 {
  text-align: center;
  margin-top: -80px;
}

p {
  text-align: center;
}

#luana {
  width: 300px;
  height: 300px;
  margin: auto;
  padding-left: 200px;


  background-size: cover;
  background-position: center center;


}


#gustavo {
  width: 300px;
  height: 300px;
  margin: auto;
  padding-left: 155px;

  background-size: cover;
  background-position: center center;

}

#laura {
  width: 300px;
  height: 300px;
  margin: auto;
  padding-left: 30px;

  background-size: cover;
  background-position: center center;

}

#guilherme {
  width: 300px;
  height: 300px;
  margin: auto;
  padding-left: 30px;

  background-size: cover;
  background-position: center center;

}

#paula {
  width: 300px;
  height: 300px;
  margin: auto;
  padding-left: 30px;

  background-size: cover;
  background-position: center center;

}

#davi {
  width: 300px;
  height: 300px;
  margin: auto;
  padding-left: 30px;

  background-size: cover;
  background-position: center center;

}

